.App{ 
  position: relative;
  min-height: 100vh;
}

/* Container */

.wrapper{ 
  padding-bottom: 12rem;
  background-color: #252525;
}

/* Nav */

.nav{ 
  display: flex;
  justify-content: space-between;
  background-color: #252525;
  height: 170px;
  padding-top: 20px;
}

.rocket{ 
  color: #ffffff;
  padding-bottom: 10px;
  align-self: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  text-transform: uppercase;
}

.title{ 
  display: none;
}

.cart a{ 
  color: #ffffff;
  padding-right: 10px;
}

/* Menu */

.menu-container{ 
  position: relative;
  background-color: #252525;
}

.menu { 
  background: #252525;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  left: 10px;
  width: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active{ 
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  z-index: 1;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li a {
  text-decoration: none;
  color: #ffffff;
  padding: 15px 20px;
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.menu-trigger {
  background: #252525;
  border-radius: 90px; 
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
}

.menu-trigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

/* Order Menu Items */
.menu-items{ 
  padding-top: 30px;
  color: white;
}

.item-image{
  display: flex;
  border: solid 1px white;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1em;
}

.image img { 
  width: 150px;
  height: 150px;
}


/* Shop */
.all-products{ 
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  /* overflow-y: scroll; */
  margin-bottom: 100px;
  height: 100%;
  background-color: #252525;
  padding-bottom: 12rem;
}

.product-item{ 
  text-align: center;
  color: #ffffff;
}



/* Product */
.select-product{
  overflow-y: scroll;
  text-align: center;
  height: 100%;
  background-color: #ffffff;
}

.select-product img{ 
  margin: 0 auto;
}

.details{ 
  display: flex;
  justify-content: center;
}

.costs { 
  padding: 20px;
}

/* Login */
.login-page{ 
  background-color: #252525;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  color: white;
}

.login-page h3{ 
  margin-top: 0;
  border-bottom: solid 1px white;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.login-checkout{ 
  display:flex;
  flex-wrap: wrap;
  background-color: #252525;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid 1px white;
}

.form-input{
  border: solid 1px white;
  background-color: #252525;
}

.login{
  background-color: #252525;
  /* height: 50%; */
  text-align: center;
}

.login input { 
  padding: 5px;
  margin: 10px 0 10px 0;
  width:90%;
}

.login button { 
  margin: 8px;
  text-transform: uppercase;
  width: 80%;
  padding: 10px;
}

.guest{ 
  text-transform: uppercase;
  /* padding-left: 190px; */
  /* border-left: solid 1px white; */
}

.guest button{ 
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
  padding: 10px;
}

/* Footer */
footer{ 
  text-align: center;
  background-color: #252525;
  color: #ffffff;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  height: 12rem;
}

.footer-icons{ 
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.footer-icons a{ 
  color: #ffffff;
}


@media screen and (min-width: 1024px){ 
  .title{ 
    display:block;
  }

  .menu-items{ 
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
}